dev/




biblioteca/__pycache__/__init__.cpython-312.pyc
biblioteca/__pycache__/admin.cpython-312.pyc
biblioteca/__pycache__/apps.cpython-312.pyc
biblioteca/__pycache__/models.cpython-312.pyc
biblioteca/migrations/__pycache__/__init__.cpython-312.pyc
biblioteca/migrations/__pycache__/0001_initial.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/_exceptions.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/connections.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/converters.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/cursors.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/release.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/times.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/CLIENT.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/CR.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/ER.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/FIELD_TYPE.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/FLAG.cpython-312.pyc
drf/__pycache__/__init__.cpython-312.pyc
drf/__pycache__/settings.cpython-312.pyc
drf/__pycache__/urls.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/apps.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/authentication.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/checks.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/compat.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/decorators.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/documentation.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/exceptions.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/fields.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/filters.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/generics.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/metadata.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/mixins.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/negotiation.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/pagination.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/parsers.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/permissions.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/relations.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/renderers.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/request.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/response.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/serializers.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/routers.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/reverse.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/urlpatterns.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/validators.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/urls.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/versioning.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/throttling.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/test.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/status.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/settings.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/viewsets.cpython-312.pyc
dev/Lib/site-packages/rest_framework/__pycache__/views.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/__pycache__/admin.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/__pycache__/apps.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/__pycache__/models.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/__pycache__/serializers.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/__pycache__/views.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/management/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/management/commands/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/management/commands/__pycache__/drf_create_token.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/migrations/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/migrations/__pycache__/0001_initial.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/migrations/__pycache__/0002_auto_20160226_1747.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/migrations/__pycache__/0003_tokenproxy.cpython-312.pyc
dev/Lib/site-packages/rest_framework/authtoken/migrations/__pycache__/0004_alter_tokenproxy_options.cpython-312.pyc
dev/Lib/site-packages/rest_framework/management/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/rest_framework/management/commands/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/rest_framework/management/commands/__pycache__/generateschema.cpython-312.pyc
dev/Lib/site-packages/rest_framework/schemas/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/rest_framework/schemas/__pycache__/coreapi.cpython-312.pyc
dev/Lib/site-packages/rest_framework/schemas/__pycache__/generators.cpython-312.pyc
dev/Lib/site-packages/rest_framework/schemas/__pycache__/inspectors.cpython-312.pyc
dev/Lib/site-packages/rest_framework/schemas/__pycache__/openapi.cpython-312.pyc
dev/Lib/site-packages/rest_framework/schemas/__pycache__/utils.cpython-312.pyc
dev/Lib/site-packages/rest_framework/schemas/__pycache__/views.cpython-312.pyc
dev/Lib/site-packages/rest_framework/templatetags/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/rest_framework/templatetags/__pycache__/rest_framework.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/breadcrumbs.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/encoders.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/field_mapping.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/formatting.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/html.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/humanize_datetime.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/json.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/mediatypes.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/model_meta.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/representation.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/serializer_helpers.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/timezone.cpython-312.pyc
dev/Lib/site-packages/rest_framework/utils/__pycache__/urls.cpython-312.pyc
drf/__pycache__/wsgi.cpython-312.pyc
