biblioteca/__pycache__/__init__.cpython-312.pyc
biblioteca/__pycache__/admin.cpython-312.pyc
biblioteca/__pycache__/apps.cpython-312.pyc
biblioteca/__pycache__/models.cpython-312.pyc
biblioteca/migrations/__pycache__/__init__.cpython-312.pyc
biblioteca/migrations/__pycache__/0001_initial.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/_exceptions.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/connections.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/converters.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/cursors.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/release.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/__pycache__/times.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/__init__.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/CLIENT.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/CR.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/ER.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/FIELD_TYPE.cpython-312.pyc
dev/Lib/site-packages/MySQLdb/constants/__pycache__/FLAG.cpython-312.pyc
drf/__pycache__/__init__.cpython-312.pyc
drf/__pycache__/settings.cpython-312.pyc
drf/__pycache__/urls.cpython-312.pyc
